body, .post-title, h1, h2, h3, h4, h5, h6, .navigation-header-subtitle {
    font-family: Arial, Helvetica, sans-serif;
}

pre, code {
    overflow-wrap: break-word;
    white-space : pre-wrap !important;
}

code {
    background-color: #222;
    color: #fff;
}

p img {
    margin: 10px auto;
}

li.cc-info {
    opacity: .5;
    font-size: 12px;
    padding-top: 5px;
}

blockquote {
    background-color: #dcdfb3;
    padding: 2px;
    padding-left: 10px;
}